.list {
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    text-align: center;
}

.list>li {
    display: inline-block;
}

.without-underline {
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 36px;
    margin-right: 36px;
    color: #FF0000;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
    line-height: 82%;
    letter-spacing: 2.7px;
}

.picture-header {
    width: 100%;
}

.heading {
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 22px;
    color: #373737;
    text-align: center;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: 3.3px;
    margin-top: 48px;
    margin-bottom: 38px;
}

.text {
    font-family: Montserrat;
    font-size: 16px;
    color: #373737;
    line-height: 150%;
    text-align: center;
    letter-spacing: 2.4px;
    margin-left: 67.5px;
    margin-right: 67.5px;
    text-indent: 50px;
}

.button-get-started {
    color: #FFFFFF;
    background-color: #FF0000;
    font-size: 12px;
    font-family: Montserrat;
    text-transform: uppercase;
    text-align: center;
    border: none;
    width: 191px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1.8px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px;
    margin: auto;
    display: block;
    margin-top: 66px;
}

.footer-text {
    font-family: Montserrat;
    font-size: 16px;
    color: #373737;
    text-align: right;
    letter-spacing: 2.4px;
    font-weight: bold;
    line-height: 100%;
    margin-top: 82px;
    margin-right: 105px;
    margin-bottom: 29px;
}